:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(300, 24%, 96%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
}
body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  background-image: url("../images/bg-pattern-bottom-desktop.svg");
}
.container {
  padding-top: 100px;
  width: 85%;
  margin: auto;
}
.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  align-items: center;
  justify-items: flex-start;
  grid-gap: 0.5rem;
  grid-auto-flow: dense;
}

.overview {
  padding: 0 20px;
  width: 450px;
}

.overview h1 {
  margin: 0;
  font-weight: 700;
  font-size: 44px;
  color: var(--very-dark-magenta);
}

.overview p {
  color: var(--very-dark-magenta);
}
.ratings {
  margin-left: 40px;
  width: 50%;
}
.ratings div:nth-child(2) {
  margin-left: 40px;
}

.ratings div:nth-child(3) {
  margin-left: 80px;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  padding: 15px;
  background-color: var(--soft-pink);
  margin: 15px 0;
  border-radius: 10px;
  color: var(--very-dark-magenta);
}

.rating p {
  font-weight: 700;
  margin: 0;
}
.testimonials {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  justify-items: center;
  align-content: center;
  grid-gap: 0.5rem;
  grid-auto-flow: dense;
}
.testimonial {
  width: 370px;
  background-color: var(--very-dark-magenta);
  padding: 20px;
  border-radius: 10px;
  color: var(--light-grayish-magenta);
  height: 250px;
}
.testimonial p {
  margin-top: 40px;
  line-height: 25px;
}

.testimonial img {
  border-radius: 50%;
}

.testimonials div:nth-child(2) {
  margin-top: 30px;
}

.testimonials div:nth-child(3) {
  margin-top: 60px;
}

.image-with-name {
  display: flex;
  align-items: center;
}

.image-with-name p {
  margin: 0;
}
.image-with-name div {
  margin-left: 15px;
}
.image-with-name p:first-child {
  font-weight: 500;
}

.image-with-name p:nth-child(2) {
  color: var(--dark-grayish-magenta);
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin: 20px 0;
  background-color: var(--soft-pink);
  padding: 10px 0;
  border-radius: 10px;
}
.attribution a {
  color: var(--very-dark-magenta);
}

@media only screen and (max-width: 600px) {
  .rating {
    margin: 10px 0 !important;
    display: block;
    text-align: center;
  }

  .ratings {
    margin: 0 !important;
  }

  .overview {
    text-align: center;
  }

  body {
    background-image: url("../images/bg-pattern-bottom-mobile.svg");
  }
}
